<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
  <div class="container" style="margin-top: 4%;">
    <div class="panel-heading" style="text-align: center; border-top: 0.5px solid #dbd9d9;">
      <h2>Esta é uma Tela de Cadastro</h2>
    </div>
    <div class="panel-body" style="border-top: 0.5px solid #dbd9d9;">
      <fieldset id="desabilitar" [disabled]="esconderInputs">
        <div class="row">
          <div class="col-sm-2">
            <fieldset disabled>
              <label for="id">Id</label>
              <input type="number" class="form-control" id="id" placeholder="Id é automático">
            </fieldset>
          </div>
          <div class="col-sm-10">
            <label for="nome">Nome</label>
            <input type="text" class="form-control" id="txtNome" placeholder="Digite seu nome">
          </div>
        </div>
        <div class="row" style="margin-top: 1%">
          <div class="col-sm-6">
            <label for="endereco">Endereço</label>
            <input type="text" class="form-control" id="txtEndereco" placeholder="Digite seu endereço">
          </div>
          <div class="col-sm-6">
            <label for="cidade">Cidade</label>
            <input type="text" class="form-control" id="txtCidade" placeholder="Digite sua cidade">
          </div>
        </div>
        <div class="row" style="margin-top: 1%">
          <div class="col-sm-6">
            <label for="bairro">Bairro</label>
            <input type="text" class="form-control" id="txtBairro" placeholder="Digite seu bairro">
          </div>
          <div class="col-sm-3">
            <label for="cep">Cep</label>
            <input type="text" class="form-control" id="txtCep" placeholder="Digite seu CEP">
          </div>
          <div class="col-sm-3">
            <label for="telefone">Telefone</label>
            <input type="text" class="form-control" id="txtTelefone" placeholder="Digite seu telefone">
          </div>
        </div>
      </fieldset>
    </div>
    <div class="panel-footer" style="margin-top: 1%; background-color: #a9c1eb;">
      <div [hidden]="addBotao">
        <div class="d-flex justify-content-around py-5">
          <div class="row">
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary" (click)="novo()">Novo</button>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary" (click)="novo()">Editar</button>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary" (click)="excluir()">Excluir</button>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary" (click)="procurar()">Procurar</button>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="addBotaoCadastro">
        <div class="d-flex justify-content-around py-5">
          <div class="row">
            <div class="col-sm-2">
              <a type="submit" class="btn btn-primary" href="app.component.html">Gravar</a>
            </div>
            <div class="col-sm-2">
              <a type="submit" class="btn btn-primary" href="app.component.html">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="addBotaoExcluir">
        <div class="d-flex justify-content-around py-5">
          <div class="row">
            <div class="col-sm-4">
              <a type="submit" class="btn btn-primary" href="app.component.html">Tem certeza que deseja excluir esse
                registro?</a>
            </div>
            <div class="col-sm-2">
              <a type="submit" class="btn btn-primary" href="app.component.html">Cancelar</a>
            </div>
          </div>
        </div>
      </div>
      <div [hidden]="addBotaoProcurar">
        <div class="d-flex justify-content-around py-5">
          <div class="row">
            <div class="col-sm-6">
              <input type="text" class="form-control" placeholder="Digite um nome a ser procurado">
            </div>
            <div class="col-sm-2">
              <a type="submit" class="btn btn-success" href="app.component.html">Procurar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>